html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.page-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content-wrap {
  flex: 1; /* pushes footer to bottom */
}
