.inbox-page{
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(
        to bottom,
        rgb(124, 124, 150),
        rgba(164, 143, 223, 0.342)
    );
    margin: 0 auto;
    padding: 20px;
    /* display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 24px 16px;
    box-sizing: border-box; */
}

.inbox-page h2 {
  color: white;
  margin-bottom: 10px;
  font-size: 20px;
}

.inbox-tabs{
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.inbox-tabs button{
    padding: 8px 16px;
    border: none;
    border-radius: 6px;
    background-color: #e5e7eb;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

.inbox-tabs button.active{
    background-color: rgb(124, 147, 224);
    color: white;
}

.inbox-tabs button:hover{
    background-color: #cbd5e1;
}