.login-page {
  min-height: 100vh;
  max-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, rgb(124, 124, 150), rgba(164, 143, 223, 0.342));
}

.login-card-container {
  background-color: white;
  width: 90%;
  max-width: 450px;
  padding: 20px;
  margin: 50px;
  border-radius: 30px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.8);
}

.login-title h1 {
  text-align: center;
  font-size: 30px;
  margin-bottom: 25px;
}

.login-label {
  display: block;
  font-size: 17px;
  margin-bottom: 6px;
}

.login-input {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid lightcyan;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.login-button {
  width: 100%;
  padding: 12px;
  background-color: rgb(20, 163, 20);
  color: white;
  font-size: 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.5s;
  font-weight: bold;
}

.login-button:hover {
  background-color: green;
}

.back-home {
  display: inline-block;
  margin-bottom: 5px;
  color: rgb(46, 185, 46);
  font-size: 15px;
  text-decoration: none;
  font-weight: bold;
}

.back-home:hover {
  text-decoration: underline;
}

.no-acc-div {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 10px;
}

.login-link {
  color: rgb(124, 147, 224);
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}

.login-link:hover {
  text-decoration: underline;
}

.login-error {
  color: red;
  font-size: 14px;
  margin-top: -10px;
}
