/* PAGE LAYOUT */
.home-page {
  height: 100vh;
  max-width: 100vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}

/* NAVBAR */
.home-nav {
  width: 95%;
  padding: 12px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  background-color: rgb(0, 0, 0);
  color: white;
}

.home-nav-left {
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}

.home-nav-menu {
  list-style: none;
  display: flex;
  gap: 24px;
  margin: 0;
  padding: 0;
  margin-left: auto;
}

.home-nav-menu li {
  cursor: pointer;
  font-size: 13px;
  position: relative;
  transition: all 0.3s;
}

.home-nav-menu li:hover {
  color: #667eea;
}

.home-nav-menu li::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 2px;
  background: #667eea;
  transition: width 0.3s;
}

.home-nav-menu li:hover::after {
  width: 100%;
}

.home-nav-login-btn {
  margin-left: 20px;
  padding: 6px 14px;
  border-radius: 4px;
  border: 1px solid #000;
  background: #fff;
  cursor: pointer;
  font-size: 13px;
  transition: 0.5s;
}

.home-nav-login-btn:hover {
  background-color: grey;
}

/* MAIN HERO SECTION */
.home-hero {
  flex: 1;
  display: flex;
  padding: 20px 40px;
  justify-content: space-between;
  align-items: center;
}

/* LEFT TEXT AREA */
.home-hero-left {
  width: 50%;
}

.home-hero-left h1 {
  font-size: 26px;
  margin-bottom: 8px;
}

.home-hero-left p {
  max-width: 360px;
  font-size: 13px;
  line-height: 1.4;
  margin-bottom: 550px;
}

.home-logged-in-text {
  margin-top: 10px;
  font-size: 13px;
}

/* STUDENT DATA BOX */
.home-progress-box {
  margin-top: 20px;
  padding: 15px;
  border: 1px solid #4caf50;
  border-radius: 8px;
  background-color: #f9fff9;
}

/* RIGHT LOGIN INFO BOX */
.home-hero-right {
  width: 50%;
  display: flex;
  justify-content: center;
}

.home-login-card {
  width: 280px;
  padding: 20px;
  background: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.home-login-title {
  margin-bottom: 16px;
  font-size: 18px;
}

.home-login-btn {
  width: 100%;
  padding: 8px;
  margin-top: 2px;
  border: 1px solid #222;
  background: #fff;
  cursor: pointer;
  font-size: 13px;
}

/* FOOTER */
.home-footer {
  height: 80px;
  padding: 10px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #ddd;
  background-color: #000000;
  color: white;
}

.home-footer-left {
  max-width: 200px;
}

.home-footer-logo {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 4px;
}

.home-footer-columns {
  display: flex;
  gap: 28px;
}

.home-footer-columns h4 {
  margin: 0 0 6px 0;
  font-size: 13px;
}

.home-footer-columns p {
  margin: 2px 0;
  font-size: 12px;
}
