.register-page {
  min-height: 100vh;
  max-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, rgb(124, 124, 150), rgba(164, 143, 223, 0.342));
}

.register-mainpage {
  background-color: rgb(255, 255, 255);
  width: 90%;
  max-width: 450px;
  margin: 50px;
  padding: 20px;
  border-radius: 30px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.8);
}

.title h1 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
}

.first-name,
.last-name,
.email-address,
.password {
  font-size: 17px;
  display: block;
  margin-bottom: 6px;
}

.first-name-text,
.last-name-text,
.email-address-text,
.password-text {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid lightcyan;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.name-row {
  display: flex;
  gap: 20px;
  margin-bottom: auto;
}

.name-field {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.register-button {
  width: 100%;
  padding: 12px;
  background-color: rgb(20, 163, 20);
  color: white;
  font-size: 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.5s;
  font-weight: bold;
}

.register-button:hover {
  background-color: green;
}

.back-home {
  display: inline-block;
  margin-bottom: 5px;
  color: rgb(46, 185, 46);
  font-size: 15px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.7s;
}

.back-home:hover {
  text-decoration: underline;
}

.have-acc-div {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 15px;
}

.have-acc-div span {
  display: inline;
  margin-right: 5px;
}

.have-acc-link {
  color: rgb(124, 147, 224);
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}

.have-acc-link:hover {
  text-decoration: underline;
}




